body {
    background: gold;
    color: blue;
    font-family: "Comic Sans MS";
}

.locationLabel {
    font-weight: bold;
    font-size: 25px;
}

.tempLabel {
    font-weight: bold;
    font-size: 25px;
}
