body {
    /*background: gold;*/
    background: url("I58SuG.jpg");
    color: white;
    font-family: "Comic Sans MS";
    background-size: cover;
    font-size: 15px;
}

.locationLabel {
    font-weight: bold;
    font-size: 25px;
}

.tempLabel {
    font-weight: bold;
    font-size: 25px;
}

.citiesTextField {
    color: white;
    background-color: gray;
}

